<div>
  <nav>
    <div>
      <ul routerLinkActive="active">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/schedule">Schedule</a></li>
        <li><a routerLink="/goals">Goals</a></li>
        <li><a routerLink="/problempyramid">Pyramid Page</a></li>
        <li><a routerLink="/config">Config</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/contact">diet/meals/nutrition</a></li>
        <li><a routerLink="/contact">good and bad habits - sloppy feet</a></li>
      </ul>
    </div>
  </nav>
</div>
