<div class="complete-schedule-cycle">
  <div class="schedule-header">
    <h2>Period 1 - Strength</h2>
  </div>
  <div class="week">
    <table>
      <tr>
        <th class="week-number-text"></th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr class="week-1">
        <th class="week-number-text">
          Week 1
        </th>
        <td>
          <p>Warm-up<br />Limit Boulder<br />Weighted Pull-ups<br />"Antagonists"</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br /><br /></p>
        </td>
        <td>
          <p>Warm-up<br />Limit Boulder<br />Weighted Pull-ups<br />"Antagonists"</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br /><br /></p>
        </td>
        <td>
          <p>Warm-up<br />Limit Boulder<br />Weighted Pull-ups<br />"Antagonists"</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br /><br /></p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br /><br /></p>
        </td>
      </tr>
      <tr class="week-2">
        <th class="week-number-text">
          Week 2
        </th>
        <td>
          <p>Warm-up<br />Limit Boulder<br />Weighted Pull-ups<br />"Antagonists"</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
        <td>
          <p>Warm-up<br />Limit Boulder<br />Weighted Pull-ups<br />"Antagonists"</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
        <td>
          <p>Warm-up<br />Limit Boulder<br />Weighted Pull-ups<br />"Antagonists"</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
      </tr>
      <tr class="week-3">
        <th class="week-number-text">
          Week 3
        </th>
        <td>
          <p>Warm-up<br />Limit Boulder<br />Weighted Pull-ups<br />"Antagonists"</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
        <td>
          <p>Warm-up<br />Limit Boulder<br />Weighted Pull-ups<br />"Antagonists"</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
        <td>
          <p>Warm-up<br />Limit Boulder<br />Weighted Pull-ups<br />"Antagonists"</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
      </tr>
      <tr class="week-4">
        <th class="week-number-text">
          Week 4
        </th>
        <td>
          <p>Warm-up<br />Light climb<br />Stretch</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
        <td>
          <p>Warm-up<br />Light climb<br />Stretch</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
        <td>
          <p>Warm-up<br />Light climb<br />Stretch</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
        <td>
          <p>{{ asdf }}<br />REST<br />REST<br />REST</p>
        </td>
      </tr>
    </table>
    <div>
      <ul>
        <li *ngFor="let cycleType of schedule">
          {{ cycleType }}
        </li>
      </ul>
    </div>
  </div>
</div>
