<!--
    3 columns
    fixed height
    centered?
    fixed width?
-->
<div class="banner-layout">
  <table>
    <tr>
      <th class="col-3">Short-term goals</th>
      <th class="col-3">Medium-term goals</th>
      <th class="col-3">Long-term goals</th>
    </tr>
    <tr>
      <td class="col-3">1. {{bannerGoals.short_term_goals[0]}}</td>
      <td class="col-3">1. {{bannerGoals.medium_term_goals[0]}}</td>
      <td class="col-3">1. {{bannerGoals.long_term_goals[0]}}</td>
    </tr>
    <tr>
      <td class="col-3">2. {{bannerGoals.short_term_goals[1]}}</td>
      <td class="col-3">2. {{bannerGoals.medium_term_goals[1]}}</td>
      <td class="col-3">2. {{bannerGoals.long_term_goals[1]}}</td>
    </tr>
    <tr>
      <td class="col-3">3. {{bannerGoals.short_term_goals[2]}}</td>
      <td class="col-3">3. {{bannerGoals.medium_term_goals[2]}}</td>
      <td class="col-3">3. {{bannerGoals.long_term_goals[2]}}</td>
    </tr>
  </table>
</div>
